@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
.top-nav {
  z-index: 6;
  display: none;
  position: fixed;
  width: 100%;
  -ms-grid-columns: 3 / 1;
      grid-template-columns: 3 / 1;
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px 0;
}

.top-nav .main-title {
  text-decoration: underline;
  font-size: 2rem;
  font-family: "Abril Fatface";
  color: #f79f24;
  text-shadow: -2px 1px 0 black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
}

.top-nav .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 10;
  grid-column: 10;
}

.list-nav {
  z-index: 5;
  opacity: 0;
  background-color: #111;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (auto)[auto-fill];
      grid-template-columns: repeat(auto-fill, auto);
  width: 100%;
  overflow: hidden;
  height: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 52px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.list-nav a {
  background: white;
  padding: 10px 0;
  font-family: "montserrat";
  font-weight: 500;
  font-size: 25px;
  text-shadow: -1px 1px 0 black;
  color: #f79f24;
  text-decoration: none;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-nav .main-title {
  font-family: "Abril Fatface";
  line-height: 90%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: #e20049;
  color: white;
}

::selection {
  background-color: #e20049;
  color: white;
}

body {
  background-color: #F7F6F5;
}

nav {
  z-index: 5;
  padding: 15px 0;
  background-color: transparent;
  width: 100%;
  font-size: 150%;
  font-family: "Poppins";
  position: fixed;
  display: block;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  margin: 0 10px;
  padding: 0 15px;
}

nav ul li a {
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px 1px 0 #29274C;
  line-height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  color: #f79f24;
}

nav ul li a:hover {
  color: #e20049;
}

nav ul li .main-title {
  text-decoration: underline;
  line-height: 100%;
  font-size: 150%;
  font-family: "Abril Fatface";
  text-shadow: -2px 1px 0 #29274C;
  margin-bottom: 5px;
  font-weight: 500;
}

.to-not-scroll {
  overflow: hidden;
}

.to-not-scroll .featured-article {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.to-not-scroll .copyright {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  font-family: 'Abril Fatface';
  padding: 0 10px;
}

.snippet-of-article {
  background-color: white;
  color: black;
  width: 500px;
  padding: 25px;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.snippet-of-article h1 {
  font-family: "playfair display";
  text-align: center;
  padding: 10px 0;
}

.snippet-of-article .author {
  font-size: 1rem;
  color: #271033;
  text-align: center;
  font-family: "playfair display";
}

.snippet-of-article p {
  padding: 10px 0;
  text-align: justify;
  font-family: "montserrat";
}

.main-content {
  max-width: 1250px;
  padding: 10px;
  margin: 25px auto 0 auto;
}

.main-content .title1 {
  font-family: "Playfair Display";
  color: #7E52A0;
  border-bottom: 1px dotted #111;
  text-shadow: -2px 0 0 #D295BF;
  text-align: center;
  margin: 20px;
  font-size: 350%;
}

.main-content .section {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.main-content .section .review {
  background: white;
}

.main-content .section .review img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
}

.main-content .section .review h1 {
  font-family: "playfair display";
  color: #4A1942;
}

.main-content .section .review .about {
  padding: 35px;
}

.main-content .section .review .about .author {
  color: #271033;
  font-family: "playfair display";
  font-size: 1rem;
}

.main-content .section .review hr {
  margin: 5px 0;
}

.main-content .section .review p {
  font-family: "montserrat";
  padding: 5px 0;
  color: black;
}

@media only screen and (max-width: 430px) {
  nav {
    display: none;
  }
  .top-nav {
    display: -ms-grid;
    display: grid;
  }
  .list-nav {
    opacity: 1;
    pointer-events: visible;
  }
  .snippet-of-article {
    width: 85vw;
    margin: -140px auto 0 auto;
    position: static;
  }
  .to-not-scroll .copyright {
    top: 60px;
    font-size: 12px;
  }
  .main-content {
    margin-top: -80px;
  }
}
/*# sourceMappingURL=main.css.map */