@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
}

::selection {
    background-color: #e20049;
    color: white;
}

body {
    background-color: #F7F6F5; // #fcf9f9
}

nav {
    z-index: 5;
    padding: 15px 0;
    background-color: transparent;
    width: 100%;
    font-size: 150%;
    font-family: "Poppins";
    position: fixed;
    display: block;
    transition: 500ms ease;
    
    ul {
        list-style-type: none;
        display: flex;
        align-content: center;
        justify-content: center;
        
        li {
            // outline: yellow solid 1px;
            margin: 0 10px;
            padding: 0 15px;
            
            a {
                font-weight: 400;
                text-align: center;
                text-decoration: none;
                text-shadow: -1px 1px 0 #29274C;
                line-height: 100%;
                transition: .5s ease;
                animation-fill-mode: backwards;
                color: #f79f24;
            }
            
            a:hover {
                color: #e20049;
            }

            .main-title {
                text-decoration: underline;
                line-height: 100%;
                font-size: 150%;
                font-family: "Abril Fatface";
                text-shadow: -2px 1px 0 #29274C;
                margin-bottom: 5px;
                // transition: .5s ease;
                font-weight: 500;
            }
        }
    }
}

.to-not-scroll {
    overflow: hidden;

    .featured-article {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .copyright {
        color: white; 
        position: absolute; 
        bottom: 0; 
        left: 0;
        text-shadow: 0 0 5px rgba(0,0,0,0.75);
        font-family: 'Abril Fatface'; 
        padding: 0 10px; 
    }
}

.snippet-of-article {
    background-color: white;
    color: black;
    width: 500px;
    padding: 25px;
    position: absolute;
    top: 50%;
    right: 10%;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    
    h1 {
        font-family: "playfair display";
        // font-size: 155%;
        text-align: center;
        padding: 10px 0;
    }

    .author {
        font-size: 1rem;
        color: #271033;
        text-align: center;
        font-family: "playfair display";
    }

    p {
        padding: 10px 0;
        text-align: justify;
        font-family: "montserrat";
    }
}

.main-content {
    max-width: 1250px;
    padding: 10px;
    margin: 25px auto 0 auto;

    .title1 {
        font-family: "Playfair Display";
        color: #7E52A0;
        border-bottom: 1px dotted #111;
        text-shadow: -2px 0 0 #D295BF;
        text-align: center;
        margin: 20px;
        font-size: 350%;
    }

    .section {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 15px;

        .review {
            background: white;

            img {
                object-fit: cover;
                width: 100%;
                height: 400px;
            }

            h1 {
                font-family: "playfair display";
                color: #4A1942;
            }

            .about {
                padding: 35px;
                
                .author {
                    color: #271033;
                    font-family: "playfair display";
                    font-size: 1rem;
                }
            }

            hr {
                margin: 5px 0;
            }

            p {
                font-family: "montserrat";
                padding: 5px 0;
                color: black;
            }
            
        }
    }
}

.main-article {

    position: relative;
    background: #F7F6F5;
    max-width: 80rem;
    margin: 0 auto;
    margin-top: -8em;

    .credentials {
        padding: 35px;
        font-size: x-large;
    }

    .main {
        padding: 35px;
        font-size: larger;
    }
}

@media only screen and (max-width: 430px) {
    nav {
        display: none;
    }

    .top-nav {
        display: grid;
    }

    .list-nav {
        opacity: 1;
        pointer-events: visible;
    }
    
    .snippet-of-article {
        width: 85vw;
        margin: -140px auto 0 auto;
        position: static;
    }

    .to-not-scroll .copyright {
        top: 60px;
        font-size: 12px;
    }

    .main-content {
        margin-top: -80px;
    }
} 

@import 'viewport';